@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --bg-color: rgb(0, 0, 0);
    --card-color: rgb(0, 0, 0);
  }
  
  body {
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
  }
h5, h4, h3, h2, h1, p, em{
    font-family: 'open sans', serif;
}
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  #cards {
    display: flex;
    width: 100%;

  }
  #cards-2 {
    display: flex;
    width: 100%;

  }
  
  #cards:hover > .card::after {
    opacity: 1;
  }
  .whitebutgrey{
    color: #b1b1b1 !important;
  }
  .card {
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 450px;
    flex-direction: column;
    position: relative;
    width: 35%;  
    border: #ffffff solid 5px;
  }
  
  .card:hover::before {
    opacity: 1;
  }
  
  .card::before,
  .card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }
  
  .card::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y), 
      #ffffff0f,
      transparent 40%
    );
    z-index: 3;
  }
  
  .card::after {  
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.4),
      transparent 40%
    );
    z-index: 1;
  }
  
  .card > .card-content {
    background-color: transparent;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    position: absolute;
    z-index: 2;
  }
  h1, h2, h3, h4, span {
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin: 0px;
  }
  
  i {  
    color: rgb(255, 255, 255);
  }
  
  .card-image {
    align-items: center;
    display: flex;
    height: 35%;
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
    justify-content: center;
    overflow: hidden;
    opacity: 0.8;
    background-image:url("../imgs/Screenshot\ 2024-11-20\ 082902.png");
  }
  
  .card-image > i {
    font-size: 6em;
    opacity: 0.25;
  }
  
  .card-info-wrapper {
    align-items: center;
    display: flex;
    width: 100%;
  }
  .flex-vertical{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .card-info {
    display: flex;
    gap: 10px;
    width: 100%;
  }
  .card-2{
      background-color: transparent;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      height: fit-content;
      flex-direction: column;
      position: relative;
      width: 35%;  
      border: #ffffff solid 5px;
  }
  .card-info > i {  
    font-size: 1em;
    height: 20px;
    line-height: 20px;
  }
  .card-info-title{
    width: 100%;
  }
  .card-info-title > h3 {
    font-size: 1.6em;
    line-height: 20px;
  }
  
  .card-info-title > h4 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1em;
    margin-top: 8px;
  }
  .text-center{
    text-align: center;
  }
  .rounded-circle {
    border-radius:50%!important
  }
  .z{
    z-index: 100000000;
  }
  .p{
    position: absolute;
  }
  
  /* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */
  
@media(max-width: 1000px) {
    
    #cards, #cards-2{    
      padding: 0px 0px;
    }
    
    .card, .card-2 {
      flex-shrink: 1;
      width: calc(35% - 4px);
    }

  }
  @media (max-width: 640px){
    .card, .card-2{
      width: 90% !important;
    }
    #cards, #cards-2{
      width: 90% !important;
    }
  }
  @media(max-width: 530px) {
    .card{
      height: 300px;
    }
    .card, .card-2{
      width: 100% !important;
    }
    #cards, #cards-2{
      width: 100% !important;
    }
    .flex-vertical{
      width: 100%;
    }
    .card-image {
      height: 80px;  
    }
    
    .card-image > i {
      font-size: 3em;
    }
      
    .card-info-wrapper {
      padding: 0px 0px;
    }
    
    .card-info > i { 
      font-size: 0.8em; 
    }
    
    .card-info-title > h3 {
      font-size: 1.2em;
    }
  
    .card-info-title > h4 {
      font-size: 1rem;
      margin-top: 4px;
    }
  }
  
    @media(max-width: 1400px) {
      .card, .card-2 {
        width: 55%;
      }
}